.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md

# Files to include in the extension package
# Documentation for this format:
# https://code.visualstudio.com/api/working-with-extensions/publishing-extension#using-.vscodeignore

# Files for vscode extension
!themes/
!CHANGELOG.md
!LICENSE
!README.md
!logo.jpg

# Translation files
!package.json

# Exclude everything else
**/*